@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap');

:root {
  /* DARK GLASS GRADIENT */
  --grad-dark-1: #0b1020;
  --grad-dark-2: #1a1440;

  /* PREMIUM ACCENT */
  --accent-cyan: #38bdf8;
  --accent-violet: #8b5cf6;
  --accent-pink: #f472b6;

  /* BACKGROUND */
  --bg-main: #f6f8fc;
  --card-bg: #ffffff;

  /* TEXT */
  --text-main: #0f172a;
  --text-muted: #64748b;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  background: var(--bg-main);
  color: var(--text-main);
}

h1,h2,h3,h4 {
  font-weight: 600;
}

.text-muted {
  color: var(--text-muted) !important;
}

img {
  max-width: 100%;
}
