/* =========================
   ASGAR HSI MODULE ONLY
========================= */

#asgar-loading-overlay {
  background: rgba(255,255,255,0.85);
}

#asgar-last-update {
  font-size: 12px;
  color: var(--text-muted);
}
